apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: task-manager
  labels:
    app: user-service
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
  - name: http
    port: 80
    targetPort: 3000
    protocol: TCP
