global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']

  - job_name: 'task-service'
    static_configs:
    - targets: ['task-service:5000']

  - job_name: 'user-service'
    static_configs:
    - targets: ['user-service:3000']
